.main{
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.intro {
    display: grid;
    place-items: center;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 600;
}

.code-block{
    color: rgb(76, 43, 226);
}

.code-block span{
    color: black;
}

.name {
    display: flex;
    flex-direction: column;
    color: blueviolet;
    font-size: 24px;
    font-weight: 600;
}

.stack {
    position: relative;
}

.social-icon {
    padding-top: 50px;
    margin: 10px;
    height: 32px;
}




@media only screen and (max-width: 720px){

    .main{
        margin: 50px;
        padding-bottom: 20px;
    }
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro {
        font-size: 20px;
    }

    .name {
        font-size: 26px;
    }
}