.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0px;
}

.work-card {
    padding: 8px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.work-img {
    height: 100px;
}

.work-info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.date{
    color: gray;
}

.desc{
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: horizontal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}

@media only screen and (max-width:720px) {
    .work-card {
        width: 100%;
    }
}